/* Experience timeline */
/*---------------------*/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  /* vertical line */
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 11.3%;
    margin-left: -1.5px;
    content: " ";
    width: 3px;
    background-color: $light-color-secondary;
  }
  
  /* bullet */
  
  .timeline .timeline-badge img {
    width: 60px;
    height: 60px;
    line-height: 50px;
    margin: 10px 10px 0px 0px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: $light-color;
    color: $light-color;
  }
  
  
  /* Job boxes */
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline li .timeline-panel {
    width: 90%;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    text-align: left;
  }
  
  .experience-title {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .experienc-icon {
    padding: 0 5px;
  }
  
  .timeline-sub-heading p {
    margin-bottom: 10px;
  }
  
  .timeline-dates {
    margin: 5px 0px 0px 0px;
    color: #999999;
    font-weight: 450;
  }

  .timeline-dates p {
    margin: 7px 0px;
  }
  
  /* Separate job items */
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  /* Pointing triangle */
  
  .timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    right: auto;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-left-width: 0;
    border-right: 0 solid #ccc;
    border-right-width: 15px;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    right: auto;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-left-width: 0;
    border-right: 0 solid #fff;
    border-right-width: 14px;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  /* Timeline item body */
  
  .timeline-body p {
    margin-bottom: 0;
  }
