/* Footer */
/*--------*/

footer {
    // padding: 40px 0px;
    color: $footer-text-color;
    background-color: $footer-bg-color;
  }
  
  .footer-content {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  
  .footer-media {
    text-align: right;
  }
  
  .footer-media ul{
    margin: 0px;
  }
  
  .footer-media-item {
    display: inline-block;
    font-size: 2em;
    list-style: none;
    margin: 0px 10px;
  }
  
  .footer-media-item a,
  .footer-media-item a:hover {
    color: $light-color;
  }
  