/* Header */
/*---------*/

.navbar {
    width: 100%;
    background-color: $header-bg-color;
  }
  
  .navbar a,
  .navbar a:hover {
    color: $light-color;
  }
  
  .navbar a:hover {
    font-weight: bold;
  }
  
  .navbar-nav {
    margin-right: 50px;
  }