@import "variables";
@import "header";
@import "about_me";
@import "experience";
@import "skills";
@import "publications";
@import "education";
@import "footer";

body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

header, footer, div.page {
    width: 100%;
    margin: 0 auto;
}

.container {
  text-align: center;
}

/* Section background*/
.section-content-dark-bg,
.section-content-light-bg {
  padding-top: calc(3 * 30px);
  padding-bottom: calc(3 * 30px);
}

.section-content-dark-bg,
.section-content-light-bg {
  width: 100%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 300;
}
.section-content-dark-bg {
  background-color: $light-bg-color;
}
.section-content-light-bg {
  background-color: $dark-bg-color
}

.section-title {
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    width: 100%;
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-bottom: 45px;
    font-weight: bold;
    // border
    border-width: 0px 0px 2px 0; /* top right bottom left */
    border-style: solid dotted inset double;
}

.section-content-light-bg .section-title {
    color: $light-title-color;
    border-color: $light-title-color;
}

.section-content-dark-bg .section-title {
  color: black;
  border-color: black;
}
