
/* Main color palette */
$light-color: #ffffff;
$light-color-secondary: #eeeeee;
$dark-color: #505050;
$dark-color-secondary: #999999;


/* Backgrounds */
$light-bg-color:$light-color;
$dark-bg-color: $dark-color;
$footer-bg-color: #000000;

/* Texts */
$footer-text-color: $light-color;
$light-title-color: $light-color;
$dark-title-color: $dark-color;