{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react", "@babel/preset-env"]
    }
  },
  "rules": {
    "object-curly-newline": 0,
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-one-expression-per-line": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}