@import "./variables.scss";

.about {
  background: $background-color-dark;
  color: $text-color-light;
  font: $font-size-medium $text-font;
}

.profile-pic-container {
  text-align: center;
}

.profile-pic {
  width: 180px;
  height: 180px;
}