@import "./variables.scss";

.footer {
   background: $background-color-dark;
   font: $font-size-medium $text-font;
   padding: 6px;
   text-align: center;
   color: $text-color-light;
}

.footer .copyright {
   font: $font-size-tiny $text-font;
   padding: 40px 0px 0px 0px;
}

