@import "./variables.scss";

/* header background */
.header {
  background: $background-color-dark;
  font: $font-size-medium $text-font;
  padding: 6px;
}

/* header menu items */

.nav-item  {
  padding: 0px 10px;
}

.nav-item a {
  color: $text-color-light;
}

.nav-item a:hover {
  color: $text-color-dark;
}
