@import "./variables.scss";

/* home background photo */
.home {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../images/header-background.jpg) no-repeat top center;
  background-size: cover !important;
 -webkit-background-size: cover;
  overflow: hidden;
}

/* home text */
.banner-text {
  text-align: center;
  color: $text-color-light;
  font: $font-size-medium $text-font;
  padding: 85px 0px;
}

.banner-text a {
  color: $text-color-dark-secondary;
}

.banner-text a:hover {
  color: $text-color-dark
}
