@import "./variables.scss";

.resume {
  background: $background-color-light;
  font: $font-size-medium $text-font;
}

.resume-header {
  text-align: center;
}

.resume-header span {
  border-bottom: 3px solid $text-color-dark;
}