@import "./variables.scss";

/* General */
.resume {
  background: $background-color-light;
  font: $font-size-medium $text-font;
}

.resume-header {
  text-align: center;
}

.resume-header span {
  border-bottom: 3px solid $text-color-dark;
}

/* Images */

.work-item-image, .education-item-image {
  text-align: center;
}

.work img, .education img {
  max-width: 75px;
}

/* Work Experience */

.work-item-roles p {
  padding-inline-start: 10px;
}

.work-item-roles p {
  margin-bottom: 10px;
}

.btn-show-more {
  background-color: $text-color-dark !important;
  border-color: $text-color-dark !important;
}

/* Publications */
.publication a { 
  color: $text-color-dark-secondary;
}

.publication a:hover {
  color: $text-color-dark
}

