@import "./variables.scss";

/* General */
.resume {
  background: $background-color-light;
  font: $text-font;
}

.resume-header {
  text-align: center;
}

.resume-header span {
  border-bottom: 3px solid $text-color-dark;
}

/* Images */

.work-item-image, .education-item-image {
  text-align: center;
}

.work img, .education img {
  max-width: 75px;
}

/* Publications */
.publication a { 
  color: $text-color-dark-secondary;
}

.publication a:hover {
  color: $text-color-dark
}

