/* home social links */
.social {
  background-color: transparent;
  font-size: $font-size-icons;
}

.social .list-group-item {
  display: inline-block;
  background-color: transparent;
  border: none;
}

.social .list-group-item a { 
  color: $text-color-light;
}

.social .list-group-item a:hover {
  color: $text-color-dark
}