/* Colors */
$background-color: #2B2B2B;

$text-color-secondary: #F06000;
$text-color: #FFFFFF;

/* Fonts */
$text-font: Helvetica, sans-serif;

/* Sizes */
$font-size-tiny: 18px;
$font-size-medium: 18px;
$font-size-icons: 40px;