<ul id="exp-list" class="timeline">
  {% set jobs = site.query('/experience').all() %}
  {%- for job in jobs %}
  <li>
    <div class="{% if loop.index > 3 %}d-none{% endif %} row justify-content-md-center">
      <div class="col-md-1 order-1 timeline-dates">
        <p>{{ job.end_date }}</p>
        <p>{{ job.start_date }}</p>
      </div>
      <div class="col-md-1 order-2 timeline-badge">
        <div class="experience-circle">
          <img src="{{ job.company_logo | asseturl }}">
        </div>
      </div>
      <div class="col-md-10 order-3 timeline-panel">
        <div class="timeline-heading">
          <div class="row ml-1">
            <p class="experience-title">{{ job.title }}</p>
            <div class="ml-auto mr-3">{{ job.company }}</div>
          </div>
          <div class="timeline-sub-heading">
            <p class="text-muted">
              <i class="experienc-icon fa fa-map-marker"></i>
              {{ job.country }}
            </p>
            <p class="text-muted">
              <i class="experienc-icon fa fa-cogs"></i>
              {{ job.technologies }}
            </p>
          </div>
        </div>
        <div class="timeline-body">
          <div class="content hide-content">
            {{job.description}}
          </div>
          {% if job.show_more %}
          <div class="show-more-btn">
            <button class="btn btn-primary btn-sm show-more-job">Read more</button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {%- endfor %}
</ul>