<ul class="timeline">
  {% set jobs = site.query('/experience').all() %}
  {%- for job in jobs %}
  <li>
    <div class="row justify-content-md-center">
      <div class="col-md-1 order-1 timeline-dates">
        <p>{{ job.start_date }}</p>
        <p>{{ job.end_date }}</p>
      </div>
      <div class="col-md-1 order-2 timeline-badge">
        <img src="{{ job.company_logo | asseturl }}">
      </div>
      <div class="col-md-10 order-3 timeline-panel">
        <div class="timeline-heading">
          <div class="row ml-1">
            <p class="experience-title">{{ job.title }}</p>
            <div class="ml-auto mr-3">{{ job.company }}</div>
          </div>
          <div class="timeline-sub-heading">
            <p class="text-muted">
              <i class="experienc-icon fa fa-map-marker"></i>
              {{ job.country }}
            </p>
            <p class="text-muted">
              <i class="experienc-icon fa fa-cogs"></i>
              {{ job.technologies }}
            </p>
          </div>
        </div>
        <div class="timeline-body">
          {{job.description}}
        </div>
      </div>
    </div>
  </li>
  {%- endfor %}
</ul>