body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 100%;
    margin: 0 auto;
}

/* Section background*/
.section-content-white-bg,
.section-content-light-bg {
  padding-top: calc(3 * 30px);
  padding-bottom: calc(3 * 30px);
}

.section-content-white-bg a,
.section-content-light-bg a {
  text-decoration: none;
  color: #0377cdb5;
  font-weight: 600;
}
.section-content-white-bg a:hover,
.section-content-white-bg a:focus,
.section-content-light-bg a:hover,
.section-content-light-bg a:focus {
  color: #0377cd;
}
.section-content-white-bg,
.section-content-light-bg {
  color: #333;
  width: 100%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 300;
}
.section-content-white-bg {
  background-color: #fff;
}
.section-content-light-bg {
  background-color: rgba(173, 206, 224, 0.52);
}
.section-content-white-bg h6,
.section-content-light-bg h6 {
  font-weight: 300;
  font-size: 1.4em;
  padding-bottom: 10px;
  color: #0377cd;
}

.section-title {
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    width: 100%;
    text-align: center;
    display: block;
    color: #0377cd;
    margin-bottom: 45px;
    font-weight: 500;
}

/* Footer */

footer {
    padding: 20px 30px;
    background-color: #0377cd;
}