{% extends "layout.html" %}
{% block body %}
<section class="section-content-light-bg">
  <div class="container">
    <span class="section-title">Who am I?</span>
    <div class="row">
      <div class="about-me">
        <p>
          I'm Pablo Panero, a software developer based in Geneva (Switzerland).
          I'm currently working at CERN, as part of the Digital Repositories team.
          If you are curious about what we do visit <a href="https://inveniosoftware.org">Invenio Software</a>
          and/or <a href="https://zenodo.org">Zenodo</a>.
        </p>
        <p>
          As for me... I like to build stuff, mostly software, but I am also a huge fan of carpentry.
          I also like to optimize processes. When you live in a small space, every bit of space counts -
          the same applies to software -. Yeah... I like my monitoring graphics display green.
        </p>
        <p>
          Last but not least, I like solving challenges at all scales: From sudokus to complex
          software architectures.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-content-dark-bg">
  <div class="container">
    <span class="section-title">Experience</span>
    <div class="row">
      {% include "macros/experience.html" %}
    </div>
  </div>
</section>
<section id="products" class="section-content-light-bg">
  <div class="container">
    <span class="section-title">Skills</span>
    <div class="row">
      {% include "macros/skills.html" %}
    </div>
  </div>
</section>
<section class="section-content-dark-bg">
  <div class="container">
    <span class="section-title">Education</span>
    <div class="row">
      {% include "macros/education.html" %}
    </div>
  </div>
</section>
{% endblock body %}

{% block footer %}
<div class="container footer-content">
<div class="col-sm-6 float-left">
  &copy; Copyright 2020 by Pablo Panero.
</div>
<div class="col-sm-6 float-right footer-media">
  {% include "macros/footer-media.html" %}
</div>
</div>
{% endblock footer %}
