{% extends "layout.html" %}
{% block body %}
<section class="section-content-light-bg">
  <div class="container">
    <span class="section-title">Who am I?</span>
    <div class="row">
    </div>
  </div>
</section>
<section class="powering-open-science-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Experience</span>
    <div class="row">
      {% include "macros/experience.html" %}
    </div>
  </div>
</section>
<section id="products" class="products-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Skills</span>
    <div class="row">
    </div>
  </div>
</section>
<section class="powering-open-science-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Education</span>
    <div class="row">
      {% include "macros/education.html" %}
    </div>
  </div>
</section>
{% endblock body%}
