{% extends "layout.html" %}
{% block body %}
{% include "macros/header.html" %}
<section class="section-content-light-bg">
  <div class="container">
    <span class="section-title" id="who-am-i">Who am I?</span>
    <div class="row">
      {% include "macros/about-me.html" %}
    </div>
  </div>
</section>
<section class="section-content-dark-bg">
  <div class="container">
    <span class="section-title" id="experience">Experience</span>
    <div class="row">
      {% include "macros/experience.html" %}
    </div>
  </div>
</section>
<section id="products" class="section-content-light-bg">
  <div class="container">
    <span class="section-title" id="skills">Skills</span>
    <div class="row">
      {% include "macros/skills.html" %}
    </div>
  </div>
</section>
<section class="section-content-dark-bg">
  <div class="container">
    <span class="section-title" id="publications">Publications</span>
    <div class="row">
      {% include "macros/publications.html" %}
    </div>
  </div>
</section>
<section class="section-content-light-bg">
  <div class="container">
    <span class="section-title" id="education">Education</span>
    <div class="row">
      {% include "macros/education.html" %}
    </div>
  </div>
</section>
{% endblock body %}

{% block footer %}
<div class="container footer-content">
<div class="col-sm-6 float-left">
  &copy; Copyright 2020 by Pablo Panero.
</div>
<div class="col-sm-6 float-right footer-media">
  {% include "macros/footer-media.html" %}
</div>
</div>
{% endblock footer %}
